<div id="<%= dom_id autor %>">
  <p>
    <strong>Name:</strong>
    <%= autor.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= autor.age %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= autor.nationality %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= autor.active %>
  </p>

</div>
