<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>
  <p>
    <strong>Publisher:</strong>
    <%= book.publisher.name %>
    <strong>Description:</strong>
    <%= book.publisher.description %>
  </p>
  <p>
    <strong>Autor:</strong>
    <%= book.autor_id %>
  </p>
</div>
